<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nvp.easypermissions">

    <application>
        <activity
            android:name=".NvpPermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPermission" />
    </application>
</manifest>
